
.home__container{
  margin: auto;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin: 1.5rem 0;

}
p {
  font-size: 1.3rem;
  color: rgb(168, 167, 167);
  line-height: 1.5;
  max-width: 800px;
  margin: 1.5rem auto;
}